<!DOCTYPE htm>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="widt=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Test Spring</title>
	</head>
	<body>
	<h1>staff Details</h1>
	<table class="myTable">
		<tr>
			<th>Name</th>
			<th>Titel</th>
			<th>Salary</th>
		</tr>
		<tr th:object="${staff}">  <!-- Object modle  -->
			<td th:text="*{staffName}"></td> <!-- selection -->
			<td th:text="*{staffTitel}"></td>
			<td th:text="*{staffSalary}"></td>
		</tr>
	</table>
	</body>
</html>