<!DOCTYPE htm>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="widt=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Test Spring</title>
	</head>
	<body>
	<h1>staff Details</h1>
	<table class="myTable">
	<caption class="caption">Staff Details Table</caption>
		<tr>
			<th>Name</th>
			<th>Titel</th>
			<th>Salary</th>
		</tr>
		<tr th:object="${staff}">  <!-- Object modle  -->
			<td th:text="*{staffName}"></td> <!-- selection -->
			<td th:text="*{staffTitel}"></td>
			<!--  <p th:if="*{staffSalary > 1000}" > good</p>-->
			<!--  <p th:unless="*{staffSalary < 400}" > NOT very good</p>  <!-- genau so wie else -->
			<!-- alternative -->
			<td th:text="*{staffSalary > 400 ? 'good' : 'Bad'}"></td>
		</tr>
		
	</table>
		<!-- switch -->
		<div th:switch="${staff.staffName}">
			<p th:case="'Tim'">Hello Tim</p>
			<p th:case="'Sara'">Hello Sara</p>
			<p th:case="'Jan'">Hello Jan</p>
			<p th:case="*">Niemand gefunden</p>
			
		</div>
	</body>
</html>