<!DOCTYPE htm>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="widt=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/style.css">
	<title>Test Spring</title>
	</head>
	<body>
	<h1>staff Details</h1>
	<table class="myTable">
		<tr>
			<th>Name</th>
			<th>Titel</th>
			<th>Salary</th>
		</tr>
		<tr th:object="${staff}">  <!-- Object modle  -->
			<td th:text="*{staffName}"></td> <!-- selection -->
			<td th:text="*{staffTitel}"></td>
			<!--  <p th:if="*{staffSalary > 1000}" > good</p>-->
			<!--  <p th:unless="*{staffSalary < 400}" > NOT very good</p>  <!-- genau so wie else -->
			<!-- alternative -->
			<td th:text="*{staffSalary > 400 ? 'good' : 'Bad'}"></td>
		</tr>
	</table>
	</body>
</html>